{% load static %}
<div>
  <div>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
  </div>
  <div>
    <div>
      <img src="{% static 'images/BannerHeader1.png' %}" alt="..." />
      <div>
        <h2>Furniture products 2024</h2>
        <p>OUR FAVOURITE LOOKS FOR YOUR STYLE</p>
      </div>
    </div>
    <div>
      <img src="{% static 'images/BannerHeader2.png' %}" alt="..." />
      <div>
        <h2>Furniture products 2024</h2>
        <p>OUR FAVOURITE LOOKS FOR YOUR STYLE</p>
      </div>
    </div>
    <div>
      <img src="{% static 'images/BannerHeader1.png' %}" alt="..." />
      <div>
        <h2>Furniture products 2024</h2>
        <p>OUR FAVOURITE LOOKS FOR YOUR STYLE</p>
      </div>
    </div>
  </div>
  <button type="button">
    <span></span>
    <span>Previous</span>
  </button>
  <button type="button">
    <span></span>
    <span>Next</span>
  </button>
</div>
